*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #d8d8d8;
}

body {
  color: #999999;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  //border-radius: 1rem;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
    min-width: 50% !important;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
    min-width: 33.3333% !important;
  }
}

.card {
  width: 100% !important;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-color: #999999;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__title {
  color: #696969;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.LetterHeader {
  color: rgba(0,0,0,0.5);
  font-size: 48px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.letter-search {
  margin-top: 30px;
}

.letter-item {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  text-align: center;
  color: #4772d9;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}


.letter-item:hover {
  position: relative;	
  zoom: 1.4;
  font-weight: 800;
}
